body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  overflow: hidden;
}
#background {
  background-image: url("gbs.jpg");
  background-color: navy;
  opacity: 0.75;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

#header {
  background: url("header.png") center;
  width: 100vw;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

h1 {
  color: #d59563;
  text-align: center;
}


.flexContainer {
  display: flex;
  justify-content: space-between;
}

#menu {
  display: flex;
  flex-direction: column;
  background: black;
  color: #d59563;
  width: 15%;
  height: 75vh;
  float: left;
  border-radius: 10px;
  border: none;
  margin-right: 15px;
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
  text-align: center;
}

#noises {
  display: flex;
  flex-direction: column;
  background: black;
  color: #d59563;
  width: 12%;
  height: 75vh;
  border-radius: 10px;
  border: none;
  margin-left: 15px;
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
  text-align: center;
}

#map {

  height: 75vh;
  width: 70%;
  margin: auto;
  border: solid #fff;
  border-radius: 10px;
}

#where {
  position: relative;
  bottom: 40px;
  background-color: black;
  color: #d59563;
  border: 1px black;
  border-radius: 20px;
  vertical-align: middle;
  font-size: 2.0rem;
  margin: auto;
  font-family: 'Josefin Sans', sans-serif;
  padding: 10px;
}

#name {
  width: 70%;
  margin: auto;
  font-size: 3.0em;
  color: #d59563;
  margin-top: 15px;
}
